PORT=3000
NODE_ENV=development
API_PREFIX=api/v1
JWT_SECRET=super-secret-erp-key
JWT_EXPIRES_IN=1d

DATABASE_URL=postgresql://crm_user:Abhishek@1001@100.99.17.37:5432/crm
DB_HOST=100.99.17.37
DB_PORT=5432
DB_USERNAME=crm_user
DB_PASSWORD=password
DB_NAME=crm
